.black{
  background-color: black;
}

.green-1{
  background-color: #4dad65;
}

.green-2{
  background-color: #2c8f65;
}

.green-3{
  background-color: #57b996;
}

.red{
  background-color: #e60000;
}

.white{
  background-color: white;
}