[class*="col-"]{
  /* border: 1px solid rgb(0, 0, 0); */
  color: white;
  text-align: center;
  height: 50px;
}

.black{
  background-color: black;
}

.green-1{
  background-color: #4dad65;
}

.green-2{
  background-color: #2c8f65;
}

.green-3{
  background-color: #57b996;
}

.red{
  background-color: #e60000;
}

.white{
  background-color: white;
}

.orange-1{
  background-color: #e68e52;
}

.orange-2{
  background-color: #e66515;
}

.yellow{
  background-color: #e6d52f;
}

.blue{
  background-color: #006c8d;
}

.blue-2{
  background-color: #4dbad5;
}

.purple{
  background-color: #883965;
}

.beige{
  background-color: #d6c399;
}